{% assign max_posts = max_pages | times:per_page %}
<nav class="pagination">
  <ul>
  {% comment %} Create numbered pagination links {% endcomment %}  
  {% for i in (1..max_pages) %}
    {% assign post_index = i | minus:1 | times:per_page | plus:1 %}
    {% if posts.size >= post_index %}
    <li><a href="/blog{% if i > 1 %}/page/{{i}}/index.html{% endif %}"{% if page_num == i %} class="is-current-page"{% endif %}>{{i}}</a></li>
    {% endif %}
  {% endfor %}
  
  {% comment %} Show archive page if beyond maximum number of pages {% endcomment %}
  {% if posts.size > max_posts %}
    <li><a href="{{current.archive_url}}"{% if type == 'archive' %} class="is-current-page"{% endif %}>More</a></li>
  {% endif %}
  </ul>
</nav>